<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051252126048-s1ge2q2213kg9c99c8lp17cj4ja4j7lo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051252126048-s1ge2q2213kg9c99c8lp17cj4ja4j7lo</string>
	<key>API_KEY</key>
	<string>AIzaSyBPEmPklaVe6ZYUauClNdgv9sfQSvKSk8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1051252126048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseParfumery</string>
	<key>PROJECT_ID</key>
	<string>parfumery-solo-project</string>
	<key>STORAGE_BUCKET</key>
	<string>parfumery-solo-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051252126048:ios:f28d7911f2c8d5815aee05</string>
</dict>
</plist>